.grettings {
    background: url(../../img/grettings/fon.png) no-repeat center/cover;
    padding-top: 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
}

.nav {
}

.nav__list {
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.nav__item a{
    font-family: var(--fontLF);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #fff;
}

.nav__item:last-child a{
    border: 2px solid white;
    padding: 11px 21px;
    border-radius: 4px;
}

.nav__item a:hover{
    color: var(--colorGreen);
    border-color: var(--colorGreen) ;
}

.nav__item_square {
    width: 4px;
    height: 4px;
    background-color: white;
}

.desc {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 120px 0;
}

.desc__title {
    font-family: var(--fontLF);
    font-weight: 700;
    font-size: 71px;
    line-height: 110%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
}

.desc__text {
    margin-top: 30px;
    font-family: var(--fontIBM);
    font-weight: 700;
    font-size: 13px;
    line-height: 185%;
    text-align: center;
    color: #fff;
}

.btn {
    background-color: var(--colorGreen);
    padding: 15px 27px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: var(--fontLF);
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    text-align: center;
    color: #fff;
    transition: transform 1s;
}

.btn:hover{
    transform: scale(1.2);
}

.desc__btn {
    margin-top: 60px;
}